body {
  height: 100%;
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #462d26;
}
.main {
  min-width: 100vw;
}

/* navbar */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  height: 20%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  float: center;
}
.logo-img {
  height: 77px;
  float: center;
}
.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  text-align: center;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  float: center;
}
header a.active {
  color: #fa6f97;
}
.nav-links a:hover {
  color: #ed7899;
}
#logout:hover span {
  display: none;
}
#logout:hover:before {
  content: 'Logout';
}

/*about page*/
#about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}
#about h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Lora', serif;
  font-weight: 600;
  font-style: normal;
  color: #d6587a;
  margin-bottom: 1.5rem;
}
#about p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 80%;
}
#about-img {
  max-width: 40%;
  height: auto;
}

/* login form */
.login .card-overlay {
  margin: 0 auto;
  width: 500px;
  background: transparent;
  border: 2px solid #ff1f88;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px #00000033;
  color: #ff1f88;
  font-size: 20px;
  border-radius: 10px;
  padding: 30px 40px;
}

.login .input-wrapper input {
  width: 100%;
  color: #4b4a4a;
  height: 40px;
  font-size: 20px;
  background: transparent;
  border: 2px solid #ff1f88;
  margin: 30px 0;
}
.login button {
  font-size: 30px;
  width: 100%;
  padding: 3%;
  margin: 30px 0;
}
#haveAccount,
#loginAccount {
  text-align: center;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}
#loginAccount a:hover {
  color: #ff6b6b;
}
.form-container {
  background-image: linear-gradient(to right, #fa8b8b83, #ed477960);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  margin-top: 5%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

input[type='text'],
input[type='number'],
input[type='date'],
select {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input[type='checkbox'],
input[type='radio'] {
  margin-right: 10px;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

input[type='checkbox']:checked + label,
input[type='radio']:checked + label {
  background-color: #eac6d0bd;
  border-color: #c9748e95;
}

.validation-message {
  color: rgb(169, 12, 86);
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.testForm-button {
  background-image: linear-gradient(to right, #fa8b8bc4, #ed4779cc);
  color: #f8eded;
  transition: background-color 0.3s;
}

button[type='submit'] {
  background-image: linear-gradient(to right, #fa8b8bc4, #ed4779cc);
  color: #f8eded;
}

button[type='button']:hover,
button[type='submit']:hover {
  background-color: #f1326be8;
}

.feed {
  margin: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 10%;
}

.feed-post,
.plan-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    rgba(250, 139, 139, 0.3),
    rgba(237, 71, 121, 0.345)
  );
  margin: 5%;
}
.plan-post {
  position: relative;
  padding-top: 30px;
}
.post-header {
  margin: 0;
  font-size: 18px;
  text-align: center;
  background-image: linear-gradient(to right, #eda7d7, #f07c9f);
  color: #f8eded;
}
.post-content,
.plan-content {
  padding: 0 10% 10% 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.plan-content img {
  max-width: 125%;
  height: 195px;
}
.no-plans {
  width: 80%;
  margin: 10% auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.no-plans img {
  width: 40%;
}

.viewPlan-Link,
.createPlan-Link {
  text-decoration: none;
}
.button {
  background-image: linear-gradient(
    to right,
    rgba(237, 167, 215, 0.66),
    rgba(237, 71, 121, 0.67)
  );
  font-size: 17.5px;
  padding: 5% 20%;
  text-align: center;
  color: #f8eded;
  transition: background-color 0.3s;
}
.button:hover {
  cursor: pointer;
  background-color: #b44b83;
}
a {
  text-decoration: none;
}
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 18px;
  background-image: linear-gradient(to right, #ec539a, #f12a448c);
  color: #f8eded;
}
.delete-button:hover {
  background-image: linear-gradient(to right, #ff097cd2, #f12a9b8c);
}
.delete-confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff9fbea;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}
.delete-confirmation p {
  margin-bottom: 20px;
}
.deleteCconfirmation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.delete-confirmation .confirm-button {
  background-image: linear-gradient(to right, #ec539a, #f12a448c);
  color: #f8eded;
}
.delete-confirmation .cancel-button {
  background-image: linear-gradient(
    to right,
    rgba(237, 71, 121, 0.67),
    rgba(237, 167, 215, 0.66)
  );
  color: #f8eded;
}
.delete-confirmation .confirm-button:hover,
.cancel-button:hover {
  background-image: linear-gradient(to right, #ec5390, #f12a708c);
}
.comments {
  margin-top: 5%;
  margin-bottom: 5%;
}
.avatar {
  width: 5%;
  border-radius: 50%;
  margin-right: 15px;
}
.user {
  display: flex;
  align-items: center;
}
.comment {
  margin-bottom: 5%;
  background-color: #f9f9f98b;
  padding: 5%;
}
.post {
  max-width: 50%;
  margin: 0 auto;
}
.post .button {
  padding: 2% 10%;
}
.home-guest {
  display: flex;
  justify-content: space-around;
  margin: 10%;
}
.home-text {
  font-family: 'Caudex', serif;
  font-weight: 700;
  font-style: normal;
}
#home-text {
  font-family: 'Caudex', serif;
  font-weight: 700;
  font-style: normal;
}
#startPlan {
  font-family: 'Caudex', serif;
  font-size: 30px;
  color: #333;
  font-weight: 700;
  font-style: normal;
}
.home-button {
  border-radius: 25px;
  padding: 2% 5%;
}
.post-button {
  margin: 0 30%;
  padding: 2% 5%;
}

.plan {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px #333;
}

.plan h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.plan h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff1f88;
}

.plan p {
  margin-bottom: 5px;
  color: #666;
}

.plan details {
  color: #ff1f88;
  margin-bottom: 15px;
  border: 5px solid #fddaed;
  border-radius: 4px;
}

.plan details summary {
  padding: 10px 1px;
  background-color: #fddaed;
  cursor: pointer;
}

.plan details summary:hover {
  background-color: #ff99cf;
}

.plan details h4 {
  margin-bottom: 5px;
  color: #ff1f88;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}
.loading img {
  width: 30%;
}
